body{
    background: url(http://getwallpapers.com/wallpaper/full/e/a/d/28876.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium';
/*     color: white; */
}
.form-control{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(146, 12, 12, 0.2);
}

.output-control{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /* width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(146, 12, 12, 0.2); */
}
html{
    height: 100%;
}
#content{
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18x 23px rgba(0, 0, 0, 0.1);
}
textarea{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1,h3{
    color: white;
}

h1{
    font-weight: 700;
    font-size: 5em;
}
hr{
    color: white;
    width: 1000px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid white;
}


